.flexRowContent--result-cyber-monday
{
    display: flex;
}
.flexColChild--orderByCol
{
    border-radius: 0 0.5rem 0.5rem 0;
    margin: 0 !important;
}
.flexRowContent--filter-and-order-by-mobile{
    justify-content: flex-start;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.flexRowContent{
}